# Pliki generowane przez różne IDE i narzędzia
*.pyc
*.pyo
*.pyd
__pycache__

# Katalogi generowane przez narzędzie coverage.py
htmlcov/

# Katalogi generowane przez narzędzie py.test
pytest_cache/

# Pliki generowane przez narzędzie pyInstaller


.idea/
# Katalogi z wirtualnymi środowiskami Pythona
venv/
env/